<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bolão 5BAG - Ranking</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Bolão 5BAG - Ranking</h1>
        <nav>
            <a href="/">Ranking</a>
            <a href="/matches?user_name=">Apostar</a>
            <a href="/admin">Administração</a>
        </nav>
    </header>
    <div class="container">
    <table>
        <tr><th>Posição</th><th>Nome</th><th>Pontos</th></tr>
        {% for item in ranking %}
        <tr><td>{{ loop.index }}</td><td>{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
        {% endfor %}
    </table>
    <a href="/matches?user_name=">Ver partidas e apostar</a>
    <br>
    <a href="/admin">Área do Admin</a>
    <h2>Próximas Partidas</h2>
    <ul>
        {% for match in matches %}
        <li>{{ match.team1 }} x {{ match.team2 }} ({{ match.match_type.value }}) - {{ match.scheduled_time_fmt }}</li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>
